<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dq.house.web.app.mapper.RoomLabelMapper">

    <!--    根据房源id获取标签列表-->
    <select id="getLabelListByRoomId" resultType="com.dq.house.model.entity.LabelInfo">
        select id, is_deleted, type, name
        from label_info
        where id in (select label_id
                    from room_label
                    where room_id = #{id}
                      and is_deleted = 0)
          and is_deleted = 0
    </select>
</mapper>
