<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dq.house.web.admin.mapper.FeeValueMapper">
    <!--    根据公寓id删除费用项关联关系-->
    <update id="removeByApartmentId">
        update apartment_fee_value
        set is_deleted = 1
        where apartment_id = #{id}
          and is_deleted = 0
    </update>

    <!--    根据公寓id查询费用项列表-->
    <select id="getList" resultType="com.dq.house.web.admin.vo.fee.FeeValueVo">
        select fv.id,
               fv.name,
               fv.unit,
               fv.fee_key_id,
               fk.id,
               fk.name as fee_key_name
        from fee_value fv
                 join fee_key fk
                      on fv.fee_key_id = fk.id
                          and fk.is_deleted = 0
        where fv.id in
              (select afv.fee_value_id
               from apartment_fee_value afv
               where afv.apartment_id = #{id}
                 and is_deleted = 0)
          and fv.is_deleted = 0
    </select>
</mapper>
