<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dq.house.web.admin.mapper.GraphInfoMapper">
    <!--    根据公寓id逻辑删除图片-->
    <update id="removeByApartmentId">
        update graph_info
        set is_deleted = 1
        where item_id = #{id}
          and item_type = #{type}
    </update>

    <!--    根据房间id获取图片列表-->
    <select id="getList" resultType="com.dq.house.web.admin.vo.graph.GraphVo">
        select name, url
        from graph_info
        where item_id in
              (select id
               from room_info
               where id = #{id}
                 and is_deleted = 0)
          and item_type = #{type}
          and is_deleted = 0
    </select>
</mapper>
