<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dq.house.web.admin.mapper.LabelInfoMapper">
    <!--    根据公寓id删除标签关联关系-->
    <update id="removeByApartmentId">
        update apartment_label
        set is_deleted = 1
        where apartment_id = #{id}
    </update>

    <!--    根据公寓id获取标签列表-->
    <select id="getList" resultType="com.dq.house.model.entity.LabelInfo">
        select li.id, li.name, li.type
        from label_info li
        where id in
              (select al.label_id
               from apartment_label al
               where al.apartment_id = #{id}
                 and al.is_deleted = 0)
          and li.is_deleted = 0
    </select>
</mapper>
