<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dq.house.web.admin.mapper.RoomFacilityMapper">
    <!--    根据房间id获取设施列表-->
    <select id="getListByRoomId" resultType="com.dq.house.model.entity.FacilityInfo">
        select fi.id, fi.type, fi.name, fi.icon, fi.is_deleted
        from facility_info fi
        where fi.id in (
            (select facility_id
             from room_facility rf
             where is_deleted = 0
               and room_id = #{id}))
          and fi.is_deleted = 0
    </select>
</mapper>
